In [1]:
# In the other workbook I looked at GDP per capita and life expectancy
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

In [17]:
data = pd.read_csv("countries.csv")
# data.head
gdp = [data.year, data.lifeExpectancy,data.gdpPerCapita * data.population / 10**9] # in billions
#plt.scatter(data.year, gdp, 50)
#plt.show() #Okay, we have something. Lets break it down per year

SyntaxError: invalid syntax (<ipython-input-17-991f8b3ffacf>, line 3)

In [6]:
years = sorted(set(data.year))
print(years)

[1952, 1957, 1962, 1967, 1972, 1977, 1982, 1987, 1992, 1997, 2002, 2007]

In [16]:
print(gdp) # Need to learn python fundamentals, just made an array with size 3, storing year, gdp, lifeexpect, wanted to make a list where each "row" contains these three attributes

[0       1952
1       1957
2       1962
3       1967
4       1972
        ...
1699    1987
1700    1992
1701    1997
1702    2002
1703    2007
Name: year, Length: 1704, dtype: int64, 0       28.801
1       30.332
2       31.997
3       34.020
4       36.088
         ...
1699    62.351
1700    60.377
1701    46.809
1702    39.989
1703    43.487
Name: lifeExpectancy, Length: 1704, dtype: float64, 0       6.567086
1       7.585449
2       8.758856
3       9.648014
4       9.678553
          ...
1699    6.508241
1700    7.422612
1701    9.037851
1702    8.015111
1703    5.782658
Length: 1704, dtype: float64]

In [20]:
print(gdp[1])

0       28.801
1       30.332
2       31.997
3       34.020
4       36.088
         ...
1699    62.351
1700    60.377
1701    46.809
1702    39.989
1703    43.487
Name: lifeExpectancy, Length: 1704, dtype: float64